<div class="container">
  <form (submit)="loginUser($event)" #loginForm="ngForm">
    <div class="form-group">
      <label for="userid">User Id:</label>
      <input id="userid" name="userid" class="form-control" type="text"  required minlength="5"
      [(ngModel)]="userLogin.user_id" #userid="ngModel" placeholder="Enter UserId">
      <div [hidden]="userid.valid || userid.pristine" class="alert alert-danger">
        UserId is required
      </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="passwd" name="passwd" class="form-control" type="password"required minlength="5"
        [(ngModel)]="userLogin.password" #passwd="ngModel" placeholder="Enter Password">
        <div [hidden]="passwd.valid || passwd.pristine" class="alert alert-danger">
          Password is required
        </div>
    </div>
    <div *ngIf="loginFailedAlert"  class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Login Error!</strong> {{loginFailedAlertMsg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" [disabled]="!loginForm.form.valid" type="submit">login</button>
    </div>
  </form>
</div>