<div class="container">
    <h2>Student Course Registration</h2>
</div>
<nav class="nav nav-pills nav-justified">
    <div *ngIf=(isUserLoggerIn())>
        <a class="nav-link" routerLink="/enrolled/:studentId" >Enrolled</a>
    </div>
    <div *ngIf=(isUserLoggerIn())>
        <a class="nav-link" routerLink="/register/:studentId" >Registration</a>
    </div>
    <div *ngIf=(isAdminUserLoggerIn())>
        <a class="nav-link" routerLink="/students" >Students</a>
    </div>
    <div *ngIf=(isAdminUserLoggerIn())>
        <a class="nav-link" routerLink="/courses" >Courses</a>
    </div>
    <div *ngIf=(isUserLoggerIn())>
        <a class="nav-link" routerLink="/login" >Logout</a>
    </div>
</nav>
<router-outlet></router-outlet>
