<div><span>Student Id: </span>{{loggedInStudent.student_id}}</div>
<div><span>Student Name: </span>{{loggedInStudent.lastname}}, {{loggedInStudent.firstname}}</div>
<div><span>Student Degree: </span>{{loggedInStudent.degree}}</div>

<div><span>Please Choose Courses to Register:</span></div>

<form (submit)=onSubmit()>

  <table class="table table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">select</th>
        <th scope="col">Class Id</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Registered</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of allCourses; let i = index">
        <td>
          <input type="checkbox" name="course">
        </td>
        <td>{{course.class_id}}</td>
        <td>{{course.classname}}</td>
        <td>{{course.department}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

<input type="Submit" class="btn btn-primary" value="Submit"/>
</form>